/* styles.css */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

h1 {
  font-size: 26px;
  margin-bottom: 20px;
  color: #007BFF;
  font-weight: 600;
}

label {
  display: block;
  margin: 15px 0 5px;
  text-align: left;
  font-weight: 500;
}

input[type="text"],
input[type="number"] {
  width: calc(100% - 16px);
  padding: 10px 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border-color: #007BFF;
  outline: none;
}

input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2);
}

button {
  background-color: #007BFF;
  color: white;
  padding: 12px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.2);
}

.result {
  display: none;
  flex-direction: column;
  gap: 32px;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  align-items: center;
}

#result p {
  font-size: 18px;
  margin: 8px 0;
  font-weight: 500;
  color: #555;
}

.row {
  align-items: center;
  display: flex;
  gap: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

#city_type {
  display: none;
}

#prices-section {
  display: none;
  flex-direction: column;
}

.result h2 {
  margin-top: 0;
}

.checkboxes {
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.checkbox {
  gap: 16px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

label, input {
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

h2, h3 {
  padding: 0;
  margin: 0;
}